<section id="places-view" class="view">
    <header>
        <span class="places-icon"></span>
        <span class="view-head-text">Where are you?</span>

        <a class="add-new-place" data-bind="click: newPlace, visible: !isDirty()"></a>
    </header>
    <section class="view-list" data-bind="template: {name: placeTemplate, foreach: places}"></section>
</section> 